[project]
	description = Homebrew formulae for protocol things which interest me
[access "refs/*"]
	owner = group user/Phil Pennock (philpennock)
[access "refs/for/refs/*"]
	read = group user/Phil Pennock (philpennock)
	push = group user/Phil Pennock (philpennock)
	label-Code-Review = -2..+2 group user/Phil Pennock (philpennock)
	label-Verified = -1..+1 group user/Phil Pennock (philpennock)
	rebase = group user/Phil Pennock (philpennock)
	removeReviewer = group user/Phil Pennock (philpennock)
	submit = group user/Phil Pennock (philpennock)
[access "refs/heads/*"]
	read = group user/Phil Pennock (philpennock)
	create = group user/Phil Pennock (philpennock)
	push = +force group user/Phil Pennock (philpennock)
	pushMerge = group user/Phil Pennock (philpennock)
[access "refs/tags/*"]
	push = +force group user/Phil Pennock (philpennock)
	pushTag = group user/Phil Pennock (philpennock)
	pushSignedTag = group user/Phil Pennock (philpennock)
